*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.h1{
    text-align: center;
    background-color: brown;
    text-transform: uppercase;
    font-size: 70px;
    font-family: 'Michroma', sans-serif;
    animation-name: color-h1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.h2{
    background-color: green;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Michroma', sans-serif;
}

.bienvenidos{
    font-size: 20px;
    background-color: silver;
    
}

body{
    background-image: url("../img/suelo\ imagen.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.Sinopsis{
    text-transform: uppercase;
    font-size: 50px;
    background-color: brown;
    font-family: 'Michroma', sans-serif
}

.fondo__sinopsis{
    background-image: url(../img/twin\ peaks\ imagen.jpg);
}

.imagen__david{
    align-content: center;
}

.texto__sinopsis{
    background-color: silver;
}

.menu{
    font-size: x-large;
    margin-top: 15px;
    margin-left: 10px;
   
}

.fondo__lynch{
    background-image: url(../img/torta\ img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* animaciones */


.h1__david{
    background-color: brown;
    font-size: 50px;
    font-family: 'Michroma', sans-serif;
    text-transform: uppercase;
    animation-name: color-h1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}



@keyframes color-h1 {
    0% {
        background-color: brown;
    }
    50% {
        background-color: rgb(80, 3, 3);
    }
    
    100% {
        background-color: rgb(2, 96, 2);
    }
}




.parrafo__david{
    background-color: silver;
    font-size: large;
}

.body__soundtrack{
    background-image: url(../img/casa\ imagen.jpg);
    background-size: cover;
}

.soundtrack{
    background-color: brown;
    font-size: 30px;
    font-family: 'Michroma', sans-serif;
    text-transform: uppercase;
}

.body__memes{
    background-image:url(../img/pajaro\ imagen.jpg);
    background-size: cover;

}

.titulomemes{
    background-color: brown;
    font-family: 'Michroma', sans-serif;
    text-transform: uppercase;
    position: fixed;
    

}


.newsletter{
    color: goldenrod;
    border-style: solid;
    background-color: brown;
    margin: 20px;
    padding: 5px;
    display: inline;
}

.face{
    position: fixed;
    right: 0;
    bottom: 0;
}

.footer-memes{
    background-color: silver;
    text-transform: uppercase;

}

.fondo__lynch{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* mediaquerys*/

@media screen and (min-width:900px){
    header{
     display: block;
     display: flex;
     justify-content: space-around;
     align-items: center;
    }
    .fondo__lynch{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}


@media screen and (min-width:900px){
    header{
     display: block;
     display: flex;
     justify-content: space-around;
     align-items: center;
    }
    .fondo__sinopsis{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

/* grid */

.fondo__lynch {
    height: 65vh;
    padding: 1rem;
    display: grid;
    grid-template-areas: "h1_david" "parrafodavid" "imagen_david" "footer";
     align-content:left;
    align-items:left;
    grid-area: h1__david;
    }

    .parrafo__david{
    grid-area: parrafo__david;
    }
    .imagen__david{
    grid-area: imagen__david;
    }
    .footer{
    grid-area: footer;
    }